{% extends "base.html" %} {% block main-content %}
<main>
  <div class="container-fluid">
    <!--Dash Title-->
    <div class="px-3 py-4">
      <p style="color: blue">Inventory</p>
      <h1 class="fw-bold">Current Inventory (재고 현황)</h1>
      <hr />
      <button class="mt-2 btn btn-outline-secondary">
        <i class="fa-solid fa-arrows-rotate"></i> Refresh
      </button>
    </div>

    <div class="p-3 pt-5 bg-light">
      <!--월별 재고 변화 Line chart-->
      <div class="col-12">
        <div class="card mb-4 shadow" style="height: 100%">
          <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            재고 변화
          </div>
          <div class="card-body">
            <canvas id="InventoryLine" width="100%" height="25"></canvas>
          </div>
          <div class="card-footer small text-muted">
            Updated yesterday at 11:59 PM
          </div>
        </div>
      </div>
      <div class="row">
        <!-- 보유 상품 비율 Pie Chart-->
        <div class="col-xl-4 col-lg-6 col-sm-6 mb-4">
          <div class="card mb-4 shadow" style="height: 100%">
            <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              보유 상품 비율
            </div>
            <div class="card-body">
                <h3><b>{{ current_month}}월 출고 비율</b></h3>
                <canvas id="WarehousePie" width="100%" height="70px"></canvas>
            </div>
            <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
            </div>
          </div>
        </div>
        <!--창고 재고 정보-->
        <div class="col-xl-8 col-sm-12 mb-4">
          <div class="card mb-4 shadow" style="height: 100%">
            <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              창고 별 재고현황
            </div>
            <div class="card-body">
            <!-- 재고 총합 테이블 상속 -->
            {% include 'component/inventory_total_table.html' %}
              </div>
            <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

<!-- chart script -->
{% block chart-script %}{% load static %}
    <!-- 재고변화 그래프 -->
{#    이걸 하려면 어느 시점의 데이터를 저장해둬야함 -> data warehouse 아 시발 #}
    <script src="{% static 'js/inventory_chart/selling_chart.js' %}" ></script>
    <!-- 재고 현황 pie chart -->
{#    <script src="{% static 'js/inventory_chart/warehouse_pie.js' %}"></script>#}
        <script>
        var xValues = {{ labels_json|safe }};
        var yValues = {{ quantities_json|safe }};
        var barColors = ["red", "yellow", "blue", "green"];
        var text = "{{ user_warehouses.warehouse_name }} 상품현황";

        // Pie Chart
        var ctx = document.getElementById("WarehousePie").getContext('2d');
        var warePieChart = new Chart(ctx, {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    data: yValues,
                    backgroundColor: barColors.slice(0, xValues.length), // Use as many colors as needed
                }]
            },
            options: {
                title: {
                    display: true,
                    text: text,
                }
            }
        });
    </script>
{% endblock %}