{% extends "base.html" %} {% block main-content %}
<main>
  <div class="container-fluid">
    <!--Dash Title-->
    <div class="px-3 py-4">
      <!--링크 수정 요함-->
      <p>
        <a href="/inventory" style="text-decoration-line: none"
          >Inventory</a
        >
        / <a href="#" style="text-decoration-line: none">Item Detail</a>
      </p>
      <h1 class="fw-bold">Item Detail Information</h1>
      <hr />
      <button class="mt-2 btn btn-outline-secondary">
        <i class="fa-solid fa-arrows-rotate"></i> Refresh
      </button>
    </div>

    <div class="p-3 pt-5 bg-light">
      <!--상품 개요-->
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="card mb-4 shadow" style="height: 95%">
            <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              상품 정보
            </div>
            <div class="card-body">
              <h3 class="fw-bold mb-3">상품 정보</h3>
              <p class="">
                <b>작물명</b> : {{ inventories.barcode.fruit.fruit_name }} <br />
                <b>원산지</b> : {{ inventories.barcode.origin.origin_location}}<br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="card mb-4 shadow" style="height: 95%">
            <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              창고 정보
            </div>
            <div class="card-body">
              <h3 class="fw-bold mb-3">창고 정보</h3>
              <p class="">
                <b>보관 창고</b> : {{ inventories.warehouse.warehouse_name }} <br />
                <br />
                <b>창고 주소</b> : {{ inventories.warehouse.warehouse_address }}<br />
                <b>창고 용량</b> : {{ inventories.warehouse.warehouse_capacity }} CBM <br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="card mb-4 shadow" style="height: 95%">
            <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              보관 정보
            </div>
            <div class="card-body">
              <h3 class="fw-bold mb-3">보관 정보</h3>
              <p>
                <b>재고량</b> : {{ inventories.inventory_quantity }} <br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!--소매 가격 변동 그래프-->
        <div class="col-md-5 col-sm-12">
          <div class="card mb-4 shadow" style="height: 95%">
            <div class="card-header">
              <i class="fas fa-chart-area me-1"></i>
              과일 소매 시세
            </div>
            <div class="card-body p-4">
              <!--이용자가 설정할 수 있게 만들기-->
              <h5 class="fw-bold mb-3">사과 소매 시장가격</h5>
              <canvas
                id="myAreaChart"
                width="757"
                height="300"
                class="chartjs-render-monitor"
                style="display: block; width: 757px; height: 300px"
              ></canvas>
            </div>
            <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
            </div>
          </div>
        </div>
        <!--창고 재고 정보-->
        <div class="col-md-7 col-sm-12">
          <div class="card mb-4 shadow" style="height: 95%">
            <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              보관 창고 위치
            </div>
            <div class="card-body">
              <h5 class="fw-bold">00창고</h5>
              <!--네이버 지도-->
              <div id="map" style="width: 100%; height: 85%"></div>
            </div>
            <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}


{% block chart-script %}{% load static %}
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
{% endblock %}

<!-- 지도 script 오는 곳 -->
{% block map-script %}
<script>
  var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10,
  };

  var map = new naver.maps.Map("map", mapOptions);

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.3595704, 127.105399),
    map: map,
  });

  var contentString = [
    '<div class="p-2">',
    "<h3>00창고</h3>",
    "<p>00시 00동 00길 00 0000창고<br/>형태: 냉동창고<br/>용량: 00CBM</p>",
    "</div>",
  ].join("");

  var infowindow = new naver.maps.InfoWindow({
    content: contentString,
  });

  naver.maps.Event.addListener(marker, "click", function (e) {
    if (infowindow.getMap()) {
      infowindow.close();
    } else {
      infowindow.open(map, marker);
    }
  });
</script>
{% endblock %}