{% extends "base.html" %}
{% block main-content %}
        <main>
          <div class="container-fluid">
            <!--Dash Title-->
            <div class="px-3 py-4">
              <p style="color: blue">Product</p>
              <h1 class="fw-bold">Origin Setting (생산지 등록)</h1>
              <hr />
              <p>생산지 정보를 입력하세요</p>
            </div>
            <div class="p-3 pt-5 bg-light">
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-2">
                  <div class="card">
                    <div class="card-body">
                      <h2><b>생산지 입력</b></h2>
                      <form method="POST" class="py-1">
                          {% csrf_token %}
                          <div class="row g-3 align-items-center mb-3">
                              <div class="row g-3 align-items-center mb-3">
                                  <div class="col-auto">
                                      <label for="origin_location" class="form-label"><b>생산지</b></label>
                                  </div>
                                  <div class="col-auto">
                                      {{ form.origin_location }}
                                  </div>
                              </div>
                              <div class="row g-3 align-items-center mb-3">
                                    <div class="col-8">
                                        {{ form.origin_address }}
                                    </div>
                                    <div class="col-auto">
                                        <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색" class="btn btn-outline-primary"><br>
                                    </div>
                                </div>
                              <div class="d-flex flex-row-reverse">
                                  <button type="submit" class="btn btn-success">등록</button>
                              </div>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="col-lg-8 col-md-12 mb-2">
                  <div class="card">
                    <div class="card-body">
                      <h2><b>생산지 현황</b></h2>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>생산지코드</th>
                            <th>생산지</th>
                            <th>생산지 주소</th>
                            <th>생산지 수정</th>
                            <th>생산지 삭제</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for origin in origins %}
                          <tr>
                            <th>{{ origin.origin_id }}</th>
                            <th>{{ origin.origin_location}}</th>
                            <th>{{ origin.origin_address }}</th>
                            <th><a class="btn btn-outline-primary m-1" href="{% url 'origin_edit' origin.origin_id %}">Edit</a></th>
                            <th><a class="btn btn-outline-danger m-1" href="{% url 'origin_delete' origin.origin_id %}">Delete</a></th>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
{% endblock %}
{% block map-script %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
{# JS key#}
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2c54c16826dbfd9c1ff4c0a53176f989&libraries=services"></script>
{#Rest key#}
{#<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e1f1d062ebb42c94e013e1b52dc2df5&libraries=services"></script>#}
<script>
    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_address").value = addr;

                // 주소로 위도 경도 정보를 가져오는 부분
                var geocoder = new kakao.maps.services.Geocoder();
                geocoder.addressSearch(data.address, function (result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        var lat = result[0].y;
                        var lng = result[0].x;

                        // 위도 경도 값을 hidden input에 넣는다.
                        document.getElementById("warehouse_latitude").value = lat;
                        document.getElementById("warehouse_longitude").value = lng;
                    }
                });
            }
        }).open();
    }
</script>
{% endblock %}