{% extends "base.html" %}
{% block main-content %}
<main>
    <!--Dash Title-->
    <div class="container-fluid">
        <div class="px-3 py-4">
            <p><a href="product_setting.html" style="text-decoration-line: none">Inventory</a> / <a href="#"
                    style="text-decoration-line: none">Product Setting</a></p>
            <h1 class="fw-bold">Barcode Edit (바코드 수정)</h1>
            <hr />
            <a href="{% url 'product_setting' %}" class="mt-2 btn btn-outline-secondary"><i
                    class="fa-solid fa-backward"></i> back</a>
        </div>

        <div class="p-5 pt-5 bg-light">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            바코드 수정
                        </div>
                        <div class="card-body">
                            <!-- 여기 Form이랑 product_setting.html의 form이랑 같은 놈입니다.-->
                            <form method="POST" class="py-1">
                                {% csrf_token %}
                                <div class="row g-3 align-items-center mb-3">
                                    <div class="col-auto">
                                        <label class="form-label"><b>과일 품목</b></label>
                                    </div>
                                    <div class="col-auto">
                                        {{ form.fruit }}
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center mb-3">
                                    <div class="col-auto">
                                        <label class="form-label"><b>원산지</b></label>
                                    </div>
                                    <div class="col-auto">
                                        {{ form.origin }}
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-label"><b>바코드</b></label>
                                    </div>
                                    <div class="col-auto">
                                        {{ form.barcode_id }}
                                    </div>
                                </div>
                                <input type="hidden" name="user" value="{{ request.user.id }}">
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="btn btn-success">수정</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}