{% extends 'base.html' %}
{% block main-content %}
        <main>
          <!--Dash Title-->
          <div class="container-fluid">
            <div class="px-3 py-4">
                <p><a href="/warehouse" style="text-decoration-line: none">Warehouse</a> / Detail</p>
                <h1 class="fw-bold">Details of {{ warehouse.warehouse_name }} Warehouse</h1>
              <hr />
            </div> 

            <div class="p-5 pt-5 bg-light">
                <div class="row">
                    <div class="col-xl-8 col-md-12 mb-4">
                        <div class="card shadow" style="height: 100%">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                {{ warehouse.warehouse_name }} 창고 재고 변화 추세
                            </div>
                            <div class="card-body">
                                <canvas id="InventoryLine" width="100%" height="30"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 mb-4">
                        <div class="card shadow" style="height: 100%">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                {{ warehouse.warehouse_name }} 창고 재고 현황
                            </div>
                            <div class="card-body">
                                <canvas id="WarehousePie" width="100%" height="60"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card shadow" style="height: 100%">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                {{ warehouse.warehouse_name }} 창고 재고 현황표
                            </div>
                            <div class="card-body">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>입고ID</th>
                                    <th>작물명</th>
                                    <th>보관시작기간</th>
                                    <th>유통기한</th>
                                    <th>재고량</th>
                                    <th>상세보기</th>
                                      <!--상세보기는 inventory_item_detail.html로 이어짐-->
                                  </tr>
                                </thead>
                                <tbody>
                                {%  for warehousing in warehousings %}
                                  <tr>
                                    <th>{{ warehousing.warehousing_id }}</th>
                                    <th>{{ warehousing.barcode.fruit.fruit_name}}</th>
                                    <th>{{ warehousing.warehousing_time }}</th>
                                    <th>{{ warehousing.warehousing_until }}</th>
                                    <th>{{ warehousing.warehousing_quantity }}</th>
                                    <th><a class="btn btn-primary m-1" href="/inventory/1">Detail</a></th>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </main>

{% endblock %}
            
<!-- 차트 Script -->
{% block chart-script %} {% load static %}
    <!-- 재고변화 그래프 -->
    <script src="{% static 'js/inventory_chart/selling_chart.js' %}" ></script>
    <!-- 재고 현황 pie chart -->
    <script>
  // Python-generated data
  var xValues = ['사과','배'];
  var yValues = {{ quantity_list| safe }};
  var barColors = ["red", "#FEE7A0"];
  var text = "상품현황";

  // Pie Chart
  var ctx = document.getElementById("WarehousePie").getContext('2d');
  var warePieChart = new Chart(ctx, {
      type: "pie",
      data: {
          labels: xValues,
          datasets: [{
              data: yValues,
              backgroundColor: barColors.slice(0, xValues.length), // Use as many colors as needed
          }]
      },
      options: {
          title: {
              display: true,
              text: text,
          }
      }
  });
</script>
{% endblock %}