{% extends 'base.html' %}
{% block main-content %}
        <main>
          <!--Dash Title-->
          <div class="container-fluid">
            <div class="px-3 py-4">
                <p><a href="/warehouse" style="text-decoration-line: none">Warehouse</a> / Detail</p>
                <h1 class="fw-bold">00창고 상세 현황 (Details of 00 Warehouse)</h1>
              <hr />
            </div> 

            <div class="p-5 pt-5 bg-light">
                <div class="row">
                    <div class="col-xl-8 col-md-12 mb-4">
                        <div class="card shadow" style="height: 100%">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                00창고 재고 변화 추세
                            </div>
                            <div class="card-body">
                                <canvas id="InventoryLine" width="100%" height="30"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 mb-4">
                        <div class="card shadow" style="height: 100%">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                00창고 재고 현황
                            </div>
                            <div class="card-body">
                                <canvas id="WarehousePie" width="100%" height="60"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card shadow" style="height: 100%">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                00창고 재고 현황표
                            </div>
                            <div class="card-body">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>입고ID</th>
                                    <th>작물명</th>
                                    <th>보관시작기간</th>
                                    <th>유통기한</th>
                                    <th>재고량</th>
                                    <th>상세보기</th><!--상세보기는 inventory_item_detail.html로 이어짐-->
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>0000000000</th>
                                    <th>중품 사과</th>
                                    <th>2024-05-10</th>
                                    <th>2024-08-30</th>
                                    <th>100</th>
                                    <th><a class="btn btn-primary m-1" href="/inventory/1">Detail</a></th>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

{% endblock %}