              <h5 class="fw-bold">판매자 재고 현황</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th>창고명</th>
                    <th>작물명</th>
                    <th>보관시작기간</th>
                    <th>유통기한</th>
                    <th>재고량</th>
                    <th>상세보기</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for warehouse in warehouses %}
                      {% for inventory in warehouse.inventory_set.all %}
                        {% for warehousing in inventory.fruit.warehousing_set.all %}
                          <tr>
                            <th>{{ warehouse.warehouse_name }}</th>
                            <th>{{ inventory.fruit.fruit_name }}</th>
                            <th>{{ warehousing.warehousing_time }}</th>
                            <th>{{ warehousing.release_until }}</th>
                            <th>{{ inventory.inventory_quantity }}</th>
                            <th>
{#                               <a class="btn btn-primary m-1" href="{% url 'inventory_item_detail' inventory.id %}">Detail</a>#}
                            </th>
                          </tr>
                        {% endfor %}
                      {% endfor %}
                    {% endfor %}
                </tbody>
              </table>
