{% load static %}
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Fresh Helper</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet"
    />

    <!-- Static으로 변환 필요 -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>

    <!-- 네이버 지도 API api key 가릴 필요 있음 -->
    <script
      type="text/javascript"
      src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=f4tc04m6yg"
    ></script>

    <!--Chart.js를 사용하기 위한 CDN-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="sb-nav-fixed">
    <!-- ##########nav & Sidenav_nav는 base.html에서 보관########## -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->

      <!--##########링크변환필요##########-->
      <a class="navbar-brand ps-3" href="/">Fresh Helper</a>

      <!-- Sidebar Toggle-->
      <button
        class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
        id="sidebarToggle"
        href="#!"
      >
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar Search-->
      <form
        class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
      >

      </form>
      <!-- Navbar-->
      <ul class="navbar-nav  ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fas fa-user fa-fw"></i
          ></a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
                {% if user.is_authenticated %}
                    <a class="dropdown-item"  href="{% url 'users:logout' %}">{{ user.username }}님 로그아웃</a>
                {% else %}
                    <a class="dropdown-item"  href="{% url 'users:login' %}">로그인</a>
                {% endif %}

            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <!--Side nav-->
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <!--Dashboard-->
              <div class="sb-sidenav-menu-heading">Home</div>

              <!--링크 변경 필요-->
              <a class="nav-link" href="/">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                Dashboard
              </a>
              <!--inventory / warehouse-->
              <div class="sb-sidenav-menu-heading">Inventory / Warehouse</div>

                <a class="nav-link" href="/origin">
                <div class="sb-nav-link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tree-fill" viewBox="0 0 16 16">
                    <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777z"/>
                  </svg>
                </div>
                생산지(Origin)
                </a>

              <a class="nav-link" href="/product">
                <div class="sb-nav-link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                  </svg>
                </div>
                상품 / 바코드
              </a>

              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#collapseInventory"
                aria-expanded="false"
                aria-controls="collapseInventory"
              >
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-boxes-stacked"></i>
                </div>
                재고 ( Inventory )
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="collapse"
                id="collapseInventory"
                aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion"
              >
                <nav class="sb-sidenav-menu-nested nav accordion">
                  <!--링크 변경 필요-->
                  <a class="nav-link" href="/inventory">Inventory Summary</a>
                  <a class="nav-link" href="/warehousing"
                    >Warehousing (입고)</a
                  >
                  <a class="nav-link" href="/shipping">Shipping (출고)</a>
                </nav>
              </div>
              <a class="nav-link" href="/warehouse">
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-warehouse"></i>
                </div>
                창고 ( Warehouse )
              </a>
              <!--Expectation-->
              <div class="sb-sidenav-menu-heading">Expectation</div>
              <!--링크 변경 필요-->
              <a class="nav-link" href="/recommend">
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-seedling"></i>
                </div>
                작물 추천<br />(Recommendation)
              </a>
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <!-- 로그인 회원 정보 -->
            박기윤
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <!-- 메인 페이지 블럭 -->
        {% block main-content %} {% endblock %}
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; 박기윤 2024</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- 지도 설정 -->
    {% block map-script %} {% endblock %}

    <!--템플릿 scripts-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/scripts.js' %}"></script>



    <!-- 차트 Script -->
    {% block chart-script %} {% endblock %}
    {% block component-script %} {% endblock %}
  </body>
</html>
