{% extends "base.html" %} {% block main-content %}
<main>
  <!--Dash Title-->
  <div class="container-fluid">
    <div class="px-3 py-4">
      <p style="color: blue">Dashboard</p>
      <h1 class="fw-bold">Dashboard</h1>
      <hr />
      <button class="mt-2 btn btn-outline-secondary">
        <i class="fa-solid fa-arrows-rotate"></i> Refresh
      </button>
    </div>

    <div class="row p-3 pt-5 bg-light">
      <!--창고 현황 지도-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow" style="height: 95%">
          <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            창고현황
          </div>
          <div class="card-body p-4">
            <!--까까오 지도-->
            <div id="map" style="width: 100%; height: 400px"></div>
          </div>
        </div>
      </div>
      <!--소매 가격 변동 그래프-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow" style="height: 95%">
          <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            과일 소매 시세
          </div>
          <div class="card-body p-4" style="height: 100%">
            <!--이용자가 설정할 수 있게 만들기-->
            <!-- include with 소매 데이터 parameter -->
            {% include 'component/retail_price.html' with retail_price=retail_price retail_date=retail_date %}
          </div>
        </div>
      </div>
      <div class="row"></div>
      <!--실시간 경매 정보-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow" style="height: 95%">
          <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            경매 현황
          </div>
          <div class="card-body" style="height: 100%">
            <h5 class="fw-bold">서울가락시장 금일 경매 결과</h5>
{#            {% include 'component/auction_price_table.html' with auction_data=auction_data %}#}
          </div>
        </div>
      </div>
      <!--창고 재고 정보-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow" style="height: 95%">
          <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            창고 별 재고현황
          </div>
          <div class="card-body" style="height: 100%">
            <!-- 재고 총합 테이블 상속 -->
            {% include 'component/inventory_total_table.html'  %}
          </div>
        </div>
      </div>
      <!--예측 History-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            과거 수요 예측 기록
          </div>
          <div class="card-body" style="height: 100%">
            <h5 class="fw-bold">과거 수요 예측 프로그램 실행 결과</h5>
            <table id="datatablesSimple">
              <thead>
                <tr>
                  <th>예측일자</th>
                  <th>매입추천작물</th>
                  <th>작물보유량</th>
                  <th>판매추천작물</th>
                  <th>작물보유량</th>
                  <th>상세보기</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2024/05/05</td>
                  <td>배</td>
                  <td>200</td>
                  <td>사과</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>

                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock%}

<!-- 지도 script 오는 곳 -->
{% block map-script %}
{#    JS key#}
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bdc6ee45bb8f1a943c2f875dcf8d2afa&libraries=services"></script>
{#Rest key#}
{#    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7926a252f1fb745580cd660d91e49216&libraries=services"></script>#}

<script>
var MARKER_WIDTH = 33, // 기본, 클릭 마커의 너비
    MARKER_HEIGHT = 36, // 기본, 클릭 마커의 높이
    OFFSET_X = 12, // 기본, 클릭 마커의 기준 X좌표
    OFFSET_Y = MARKER_HEIGHT, // 기본, 클릭 마커의 기준 Y좌표
    OVER_MARKER_WIDTH = 40, // 오버 마커의 너비
    OVER_MARKER_HEIGHT = 42, // 오버 마커의 높이
    OVER_OFFSET_X = 13, // 오버 마커의 기준 X좌표
    OVER_OFFSET_Y = OVER_MARKER_HEIGHT, // 오버 마커의 기준 Y좌표
    SPRITE_MARKER_URL = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markers_sprites2.png', // 스프라이트 마커 이미지 URL
    SPRITE_WIDTH = 126, // 스프라이트 이미지 너비
    SPRITE_HEIGHT = 146, // 스프라이트 이미지 높이
    SPRITE_GAP = 10; // 스프라이트 이미지에서 마커간 간격

var markerSize = new kakao.maps.Size(MARKER_WIDTH, MARKER_HEIGHT), // 기본, 클릭 마커의 크기
    markerOffset = new kakao.maps.Point(OFFSET_X, OFFSET_Y), // 기본, 클릭 마커의 기준좌표
    overMarkerSize = new kakao.maps.Size(OVER_MARKER_WIDTH, OVER_MARKER_HEIGHT), // 오버 마커의 크기
    overMarkerOffset = new kakao.maps.Point(OVER_OFFSET_X, OVER_OFFSET_Y), // 오버 마커의 기준 좌표
    spriteImageSize = new kakao.maps.Size(SPRITE_WIDTH, SPRITE_HEIGHT); // 스프라이트 이미지의 크기

var positions = [  // 마커의 위치
        {% for warehouse in warehouses %}
            new kakao.maps.LatLng({{ warehouse.warehouse_latitude }}, {{ warehouse.warehouse_longitude }})
        {% endfor %}
    ],
    selectedMarker = null; // 클릭한 마커를 담을 변수

var initialLat = {% if warehouses %}{{ warehouses.0.warehouse_latitude }}{% else %}37.337593703990265{% endif %};
var initialLng = {% if warehouses %}{{ warehouses.0.warehouse_longitude }}{% else %}127.26773738380555{% endif %};

var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
                center: new kakao.maps.LatLng(initialLat, initialLng), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 지도 위에 마커를 표시합니다
for (var i = 0, len = positions.length; i < len; i++) {
    var gapX = (MARKER_WIDTH + SPRITE_GAP), // 스프라이트 이미지에서 마커로 사용할 이미지 X좌표 간격 값
        originY = (MARKER_HEIGHT + SPRITE_GAP) * i, // 스프라이트 이미지에서 기본, 클릭 마커로 사용할 Y좌표 값
        overOriginY = (OVER_MARKER_HEIGHT + SPRITE_GAP) * i, // 스프라이트 이미지에서 오버 마커로 사용할 Y좌표 값
        normalOrigin = new kakao.maps.Point(0, originY), // 스프라이트 이미지에서 기본 마커로 사용할 영역의 좌상단 좌표
        clickOrigin = new kakao.maps.Point(gapX, originY), // 스프라이트 이미지에서 마우스오버 마커로 사용할 영역의 좌상단 좌표
        overOrigin = new kakao.maps.Point(gapX * 2, overOriginY); // 스프라이트 이미지에서 클릭 마커로 사용할 영역의 좌상단 좌표

    // 마커를 생성하고 지도위에 표시합니다
    addMarker(positions[i], normalOrigin, overOrigin, clickOrigin);
}

// 마커를 생성하고 지도 위에 표시하고, 마커에 mouseover, mouseout, click 이벤트를 등록하는 함수입니다
function addMarker(position, normalOrigin, overOrigin, clickOrigin) {

    // 기본 마커이미지, 오버 마커이미지, 클릭 마커이미지를 생성합니다
    var normalImage = createMarkerImage(markerSize, markerOffset, normalOrigin),
        overImage = createMarkerImage(overMarkerSize, overMarkerOffset, overOrigin),
        clickImage = createMarkerImage(markerSize, markerOffset, clickOrigin);

    // 마커를 생성하고 이미지는 기본 마커 이미지를 사용합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: position,
        image: normalImage
    });

    // 마커 객체에 마커아이디와 마커의 기본 이미지를 추가합니다
    marker.normalImage = normalImage;

    // 마커에 mouseover 이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'mouseover', function() {

        // 클릭된 마커가 없고, mouseover된 마커가 클릭된 마커가 아니면
        // 마커의 이미지를 오버 이미지로 변경합니다
        if (!selectedMarker || selectedMarker !== marker) {
            marker.setImage(overImage);
        }
    });

    // 마커에 mouseout 이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'mouseout', function() {

        // 클릭된 마커가 없고, mouseout된 마커가 클릭된 마커가 아니면
        // 마커의 이미지를 기본 이미지로 변경합니다
        if (!selectedMarker || selectedMarker !== marker) {
            marker.setImage(normalImage);
        }
    });

    // 마커에 click 이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function() {

        // 클릭된 마커가 없고, click 마커가 클릭된 마커가 아니면
        // 마커의 이미지를 클릭 이미지로 변경합니다
        if (!selectedMarker || selectedMarker !== marker) {

            // 클릭된 마커 객체가 null이 아니면
            // 클릭된 마커의 이미지를 기본 이미지로 변경하고
            !!selectedMarker && selectedMarker.setImage(selectedMarker.normalImage);

            // 현재 클릭된 마커의 이미지는 클릭 이미지로 변경합니다
            marker.setImage(clickImage);
        }

        // 클릭된 마커를 현재 클릭된 마커 객체로 설정합니다
        selectedMarker = marker;
    });
}

// MakrerImage 객체를 생성하여 반환하는 함수입니다
function createMarkerImage(markerSize, offset, spriteOrigin) {
    var markerImage = new kakao.maps.MarkerImage(
        SPRITE_MARKER_URL, // 스프라이트 마커 이미지 URL
        markerSize, // 마커의 크기
        {
            offset: offset, // 마커 이미지에서의 기준 좌표
            spriteOrigin: spriteOrigin, // 스트라이프 이미지 중 사용할 영역의 좌상단 좌표
            spriteSize: spriteImageSize // 스프라이트 이미지의 크기
        }
    );

    return markerImage;
}
</script>
{% endblock %}

<!-- 차트 Script -->
{% block chart-script %} {% load static %}
<script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>
<script
  src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/datatables-simple-demo.js' %}"></script>

{% endblock %}
