{% extends "base.html" %} {% block main-content %}
<main>
  <!--Dash Title-->
  <div class="container-fluid">
    <div class="px-3 py-4">
      <p style="color: blue">Dashboard</p>
      <h1 class="fw-bold">Dashboard</h1>
      <hr />
      <button class="mt-2 btn btn-outline-secondary">
        <i class="fa-solid fa-arrows-rotate"></i> Refresh
      </button>
    </div>

    <div class="row p-3 pt-5 bg-light">
      <!--창고 현황 지도-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow" style="height: 95%">
          <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            창고현황
          </div>
          <div class="card-body p-4">
            <!--네이버 지도-->
            <div id="map" style="width: 100%; height: 400px"></div>
          </div>
        </div>
      </div>
      <!--소매 가격 변동 그래프-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow" style="height: 95%">
          <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            과일 소매 시세
          </div>
          <div class="card-body p-4" style="height: 100%">
            <!--이용자가 설정할 수 있게 만들기-->
            <!-- include with 소매 데이터 parameter -->
            {% include 'component/retail_price.html' with retail_price=retail_price retail_date=retail_date %}
          </div>
        </div>
      </div>
      <div class="row"></div>
      <!--실시간 경매 정보-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow" style="height: 95%">
          <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            경매 현황
          </div>
          <div class="card-body" style="height: 100%">
            <h5 class="fw-bold">서울가락시장 금일 경매 결과</h5>
            {% include 'component/auction_price_table.html' with auction_data=auction_data %}
          </div>
        </div>
      </div>
      <!--창고 재고 정보-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow" style="height: 95%">
          <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            창고 별 재고현황
          </div>
          <div class="card-body" style="height: 100%">
            <!-- 재고 총합 테이블 상속 -->
            {% include 'component/inventory_total_table.html'  %}
          </div>
        </div>
      </div>
      <!--예측 History-->
      <div class="col-xl-6 col-sm-12">
        <div class="card mb-4 shadow">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            과거 수요 예측 기록
          </div>
          <div class="card-body" style="height: 100%">
            <h5 class="fw-bold">과거 수요 예측 프로그램 실행 결과</h5>
            <table id="datatablesSimple">
              <thead>
                <tr>
                  <th>예측일자</th>
                  <th>매입추천작물</th>
                  <th>작물보유량</th>
                  <th>판매추천작물</th>
                  <th>작물보유량</th>
                  <th>상세보기</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2024/05/05</td>
                  <td>배</td>
                  <td>200</td>
                  <td>사과</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>

                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td>2023/12/03</td>
                  <td>귤</td>
                  <td>200</td>
                  <td>배</td>
                  <td>300</td>
                  <td>
                    <button class="btn btn-primary m-1">Detail</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock%}

<!-- 지도 script 오는 곳 -->
{% block map-script %}
<script>
  var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10,
  };

  var map = new naver.maps.Map("map", mapOptions);

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.3595704, 127.105399),
    map: map,
  });

  var contentString = [
    '<div class="p-2">',
    "<h3>00창고</h3>",
    "<p>00시 00동 00길 00 0000창고<br/>형태: 냉동창고<br/>용량: 00CBM</p>",
    "</div>",
  ].join("");

  var infowindow = new naver.maps.InfoWindow({
    content: contentString,
  });

  naver.maps.Event.addListener(marker, "click", function (e) {
    if (infowindow.getMap()) {
      infowindow.close();
    } else {
      infowindow.open(map, marker);
    }
  });
</script>

{% endblock %}

<!-- 차트 Script -->
{% block chart-script %} {% load static %}
<script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>
<script
  src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/datatables-simple-demo.js' %}"></script>

{% endblock %}
